<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="sign-in-body">
        <h1 class="sign-in-header">Sign In</h1>
        <form action="/auth/sign-in" method="POST" class="sign-in-form">
            <div class="username">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required />
            </div>
            <div class="password">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required />
            </div>
            <button type="submit" class="sign-in-submit">Sign In</button>
        </form>
    </div>
</body>
</html>