<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste e Basta</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <% if(user) { %>
        <h1>Welcome, <%= user.username %> to Pasta e Basta</h1>
    <% } else { %>
        <h1>Welcome to Pasta e Basta</h1>
    <% } %>
    
    <p id="app-description">A place to create your favorite Italian dishes.</p>
    <div class="container">
        <img src="/images/home-page-pasta-dish.jpg" alt="pasta dish" id="homepage-image"/>
    </div>
</body>
</html>