nav {
    background-color: rgb(163, 0, 0); 
    padding: 40px;
    font-size: 20px;
    border-radius: 10px;
}

.nav-links {
    width: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 2.5px;
}

label {
    font-size: 20px; 
}

form {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.item-name {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#item-label {
    margin-right: 20px;
}

.price {
    width: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#price-label {
    margin-right: 20px;
}

.description-field {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
}

#description-label {
    margin-right: 20px;
}

.category-select {
    width: 500px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#category-label {
    margin-right: 20px; 
}

#category {
    height: 30px;
}


#submit {
    width: 200px; 
    margin: 20px;
    font-size: 20px;
    background-color: red;
    border-color: red;
    color: white;
}

#delete-button {
    width: 150px; 
}

.item-card {
    border-radius: 10px;
    background-color: lightgray;
}

.name-and-price {
    margin: 20px;
}

.description-area {
    margin: 20px; 
}

.action-buttons {
    margin: 20px;
    display: flex;
}

#edit-link {
    width: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: black;
    background-color: white; 
    text-align: center;
    text-decoration: none;
    border: 1px solid #000;
    font-size: 14px;
    padding: 2.5px;
}

#edit-link:hover {
    background-color: lightgray;
}

#app-description {
    font-size: 20px; 
}

.sign-in-form {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
    width: 500px;
    height: 200px;
    margin-top: 100px;
    border-radius: 15px;
}

.sign-in-body {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.username {
    margin-top: 50px;
}

.sign-in-header {
    text-align: center;
    background-color: rgb(163, 0, 0);
    width: 500px;          
    color: white;
    font-size: 40px;
    padding: 20px;
    border-radius: 15px;
}

.sign-in-submit {
    color: white;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 45px;
}

p {
    text-align: center;
}

#homepage-image {
    width: 500px; 
    height: 500px; 
}

body {
    background-color: white;
}