<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Menu Item</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Create a New Menu Item</h1>
    <form action="/menuitems/<%= userId %>/new" method="POST">
        <div class="item-name">
            <label for="itemName" id="item-label">Item:</label>
            <input type="text" name="itemName" id="itemName" required/>
        </div>
        <div class="price">
            <label for="price" id="price-label">Price:</label>
            <input type="text" name="price" id="price" required/>
        </div>
        <div class="description-field">
            <label for="description" id="description-label">Description:</label>
            <textarea type="text" name="description" id="description"rows="10" cols="50" required></textarea>
        </div>
        <div class="category-select">
            <label for="category" id="category-label">Select Category:</label>
            <select name="category" id="category" required>
                <option value = "" selected>Select and Option</option>
                <option value="Pizza">Pizza</option>
                <option value="Pasta">Pasta</option>
                <option value="Dessert">Dessert</option>
            </select>
        </div>
        <button type="submit" id="submit">Create Item</button>
    </form>
</body>
</html>